html, body {
  height: 100%;
}

body {
  background: #111;
}

.white-box {
  position: relative;
  top: 100px;

  padding: 10px;

  background: #EEE;
  border-radius: 5px;
}
 

@media(max-width: 700px) {
  textarea {
    position: relative;
    top: 75px;
    resize: none;
    min-height: 375px;
    max-height: 375px;
  }
}

@media(min-width: 700px) {
  textarea {
    position: relative;
    top: 100px;
    resize: none;
    min-height: 600px;
    max-height: 600px;
  }
}